<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="icon" type="icon.png" href="icon.png">
    <title>To-do List</title>
</head>
<body>

<!--test 😳-->

    <header>        
        <h1>To-do List</h1>
        <div id="app">
        <form action="" v-on:submit.prevent="guardarTarea">
        <div class="new-tasks-header" id="new-tasks-header">
        <input v-model="nuevaTarea" type="text" id="new-task" placeholder="Add Task">
        <button>Add Task</button>
        </div>        
        </form>
        
        <div class="task-list">
            <h2>Tasks</h2>
            <div id="tasks" v-for="(tarea, index) in tareas" :key="index">
                <div class="task">
                    <div class="content" :class="{'content-done' : tareas.checked}">
                        <input v-model="tareas.checked" type="checkbox">                                               
                        <input type="text" class="text" id="text" v-bind:value="(tarea)">
                    </div>
                    <div class="actions">
                        <button class="delete" v-on:click="deleteTask(index)" >Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </header>

        <template id="tasks-template">
            <div class="task">
                <div class="content">
                    <input type="checkbox">
                    <input type="text" class="text" id="text" value="this is a task" readonly>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
        </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script>
        let newTasks = new Vue({     
            
            mounted(){
                if(window.localStorage.getItem('tareas'))
                    this.tareas = JSON.parse(window.localStorage.getItem('tareas'));
            },
            el: '#app',        
            data: {
                nuevaTarea: '',
                tareas: [{
                    nombre: this.nuevaTarea,
                    checked: null
                }],                
            },
            methods: {
                
                guardarTarea(){

                    if(this.nuevaTarea === ''){
                        return
                    }

                    this.tareas.push(this.nuevaTarea);
                    this.nuevaTarea = '';
                    
                },

                deleteTask(index){
                    this.tareas.splice(index, 1);
                }
            }, 
            })        

        newTasks.$watch('tareas', (nuevo, antiguo) => {
            window.localStorage.setItem('tareas', JSON.stringify(nuevo));
        }, {deep: true})

        Vue.config.devtools = true;

    </script>

</body>
</html>